<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>Portfolio</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark my-nav" id="navbar">
            <a class="navbar-brand" href="{% url 'home' %}" id="hrp">{{ user }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link mx-5 butPage" href="{% url 'home' %}">About</a>
                    <a class="nav-item nav-link mx-5 butPage" href="{% url 'searchbook' %}">SearchBook</a>
                    <a class="nav-item nav-link mx-5 butPage" href="{% url 'login' %}">Log In</a>
				    <a class="nav-item nav-link mx-5 butPage" href="{% url 'logout' %}">Log Out</a>
                </div>
            </div> 
        </nav>
        
    

        <section>
            <br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 id="port">Portfolio.</h1>
                    </div>
                    
                    <div class="col-sm-6">
                        <ul id="butColor">
                            <li id="butLi">
                                <span class="mode">Dark</span>
                                <span class="mode">Light</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        
                        <img src="{% static 'img/profile3.jpg' %}" alt="Gafi's Picture" id="profilePicture">

                    </div>
                    <div class="col-sm-6">
                        <h2 id="name">Mohamad Aziz Gafirazi Irfandi</h2>
                        <p>“Hello my name is Mohamad Aziz Gafirazi Irfandi. I am a Computer
                            Science Student at Universitas Indonesia. I was born in October 29th of
                            2000 in Jakarta. My passion is programming and coding.”
                        </p>
                    </div>                
                </div>
                <br><br>

                <ul class="accordion">
                    <li>
                      <a class="toggle" href=#>Activities</a>
                      <ul class="inner">
                        <li>Assistant Lecturer DDP-1</li>
                      </ul>
                    </li>
                    
                    <li>
                      <a class="toggle" href=#>Work/Organization Experience</a>
                      <!-- <p class="inner"> -->
                      <ul class="inner">
                          <li>Mentor DDP-0</li>
                          <li>Staff Ens</li>
                      </ul>
                        <!-- Mentor DDP-0 <br>
                        Staff of Equipment and Security COMPFEST11 -->
                      
                    </li>
                    
                    <li>
                      <a class="toggle" href=#>Achievements</a>
                      <ul class="inner">
                        <li>None</li>
                      </ul>
                    </li>
                    
                    
                  </ul>

                <br><br>

                <div class="row">
                    <form method="post" class="box">
                        {% csrf_token %}
                        <div class="form-group shadow-textarea">
                        <h5 id = 'question'>Hey! How are You ?</h5>
                        {% for field in form %}
                            {{field}}
                        {% endfor %}
                        </div>
                        <button type="submit" name="button" id="button">Send</button>
                    </form>
                    </div>
                    <hr>
                    <div class="row">
                    
                        {% for update in list_status %}
                            <div class="col-sm-4 kotak">  
                                <h5 id = 'respon'>{{ update.status }} | {{ update.date }}</h5>
                            </div>
                        {% endfor %}
                    
                </div>
            </div>
        </section>
        



    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    
</body>
</html>