<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>Portfolio</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

        <nav class="navbar fixed-top navbar-expand-md navbar-dark my-nav" id="navbar">
                <a class="navbar-brand" href="{% url 'home' %}" id="hrp">{{ user }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link mx-5 butPage" href="{% url 'home' %}">About</a>
                        <a class="nav-item nav-link mx-5 butPage" href="{% url 'searchbook' %}">SearchBook</a>
                        <a class="nav-item nav-link mx-5 butPage" href="{% url 'login' %}">Log In</a>
				        <a class="nav-item nav-link mx-5 butPage" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div> 
            </nav>

        
        
    <div class="background-col">

        <div class="container">
            <header class="text-center py-5 mb-4">
  
            <h1 id="port">Book Finder</h1>
  
            </header>
        </div>
  
        <div class="container">
            <div class="row">
                <div class="form-group shadow-textarea" >
                    <h5 class="font-weight-light description">Books</h5>
                    <input id="search" placeholder="Title or Author">
                    <button id="button" name="button">Search</button> 
                </div>
            </div>
            <div class="row">
                <div id="results">
                </div>
            </div>  
        </div>
    </div>
      
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/searchbook.js' %}"></script>
    
</body>
</html>