<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Log Out</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-md navbar-dark my-nav" id="navbar">
		<a class="navbar-brand" href="{% url 'home' %}" id="hrp">{{ user }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link mx-5 butPage" href="{% url 'home' %}">About</a>
				<a class="nav-item nav-link mx-5 butPage" href="{% url 'searchbook' %}">SearchBook</a>
				<a class="nav-item nav-link mx-5 butPage" href="{% url 'login' %}">Log In</a>
				<a class="nav-item nav-link mx-5 butPage" href="{% url 'logout' %}">Log Out</a>
			</div>
		</div> 
	</nav>
	<br><br><br>

	<div class="container">

		<h1>Log Out</h1>
		<p>Are you sure?</p>
		<form method="POST">
			{% csrf_token %}
			<input type="submit" name="logout">
		</form>
	</div>
</body>
</html>