body{
    transition: 0.5s;
}

section{
    transition: 0.5s;
}

section.dark{
    background: #262626;
    color: white;
    transition: 0.5s;
}

#butColor{
    
    top: 30px;
    right: 20px;
    /* align-: right; */
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

ul.active li{
    transform: translateY(-30px)
}

#butLi{
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

.mode{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.mode:nth-child(1){
    background: #262626;
    color: white;
}

#port{
    
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
    font-size: 60px;
    
}

#name{
    
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

#profilePicture{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #262626;
    border-radius: 30px;

}




a {
    text-decoration: none;
    color: inherit;
  }
  
  /* body {
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    margin: 1.5em auto;
    color: #333;
  } */

  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
  }
/*   
  ul li {
    margin: 0.5em 0;
  } */
  
  ul li a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    padding: 0.75em;
    border-radius: 0.15em;
    transition: background 0.3s ease;
  }
  
  ul li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
  }

  #navbar{
    background-color: black;
   
}

.butPage:hover{
   position: relative;
   text-decoration: none;
   color: #FFE974;
}


#now{
  margin-right: 0.3cm;
  margin-left: 0.3cm;
}

#hrp{
  color: #FFE974;
}